body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 20px 1fr;
    font-family: fantasy;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 2;
}


input[name="description"] {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
}

form button {
    height: 2.25rem;
    width: 10rem;
    background-color: #24a0ed;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container>h2 {
    text-align: center;
}

.task_holder{
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 5px;
}

.task_holder.checked [data-type="content"] {
    text-decoration: line-through;
}

input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    margin-right: 5px;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}
